#exportPattern("^[[:alpha:]]+")
export(ContaminationQuantification)
export(ContaminationDetection)
export(ContaminationCorrection)
import(Seurat)
import(ddpcr)
import(dplyr)
import(ggplot2)
import(pbapply)
import(ggrepel)
import(Matrix)
import(pROC)
import(Rcpp)
import(knitr)
import(tidyr)
useDynLib(scCDC, .registration = TRUE)
